<div id="to-form">
    <form  *ngIf="showAddPost" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" [(ngModel)]="title" placeholder="Add Title">
        </div>
        
        <div class="form-control">
            <label for="body">Post</label>
            <input type="text" id="body" name="body" [(ngModel)]="body" placeholder="Add text">
        </div>
    
        <div class="form-control">
            <label for="userid">userId</label>
            <input type="number" id="userid" name="userid" [(ngModel)]="userId" placeholder="UserId">
        </div>
    
        <button class="btn btn-block" type="submit">Post</button>
    </form>
</div>