<div class="post-container text-container">
    <h2> {{post.title}}</h2>
    <h3>From User {{post.userId}}</h3>
    <p>{{post.body}}</p>

    <div class="reactions-container">
        <app-button 
        text='{{showComments? "Hide Comments" : "Show Comments"}}'
        (btnClick)="toogleCommentsShown(post.id)"
        ></app-button>
    </div>

    <ng-container *ngIf="showComments">
        <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
    </ng-container>
</div>